:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins';
    overflow-x: hidden;
}

// TODO: CUSTOM PROGRESS BAR-------------------------

.progressbar{
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 10px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid orange;
    z-index: 10000;
    overflow: hidden;
    

    .progressbar__line{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: var(--warning);
        border-radius: 20px;
        // animation: color 4s infinite;
        backdrop-filter: blur(5px);


    }
}

@keyframes color {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(380deg);
    }
}

// TODO: CUSTOM SCROLLBAR ------------------

::-webkit-scrollbar{
    width: 10px;
    height: 100px;


}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px 0 rgba(231, 14, 177, 0.192);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(45deg,var(--cyan)0%, var(--pink)60%);
    border-radius: 15px;
    height: 200px;

}
// TODO: scroll top btn styling--------------
.scrolltop__btn{
    width: 60px;
    height: 60px;
    background: linear-gradient(to left bottom,var(--indigo)33%, var(--pink)100%);
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: fixed;
    right: 2%;
    bottom: -10%;
    z-index: 1000;
    cursor: pointer;
    overflow: hidden;
    visibility: hidden;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 2.5);

    .scrolltop__icon{
        font-size: 40px;
        color: var(--white);
        font-weight: 800;
        animation: up 3s infinite linear;
    }
}

.btn__active{
    visibility: visible;
    bottom: 10%;
}

@keyframes up {
    0%{
        transform: translateY(5);
    }

    30%{
        transform: translateY(-6px) scale(1.2);
    }
    60%{
        transform: translateY(8px) scale(.6);
    }
    100%{
        transform: translateY(0px);
    }
}





// TODO: base code---------------------------------------------------------
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// TODO: Header styling start----------------------------------------------
.container{
    // max-width: 1170px;
    width: 1140px;
    margin: 0 auto;
}
.main__header{
    position: absolute;
    width: 100vw;
    background-color: #fff;
    padding: 1.5rem 0;
    box-shadow: 5px 0 10px rgba(0,0,0,0.1);
    z-index: 100;
    transition: all 1s;
    top: 0;
    left: 0;
    z-index: 1000;

}
.main__header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    padding: .7rem 0;
    box-shadow: 5px 0 10px rgba(0,0,0,0.1);
    transition: all 1s;
    z-index: 100000;
}
.nav__bar__menu{
    display: none;
}
.nav__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__bar__close{
        display: none;
    }

    &-items{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
    }
    &-link{
        text-decoration: none;
        display: inline-block;
        margin: 0 1em;
        color: var(--dark);
        position: relative;
        transition:.3s ease;
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;

        &:hover{
            color: var(--pink);
        }

        &::after{
            content: '';
            width: 100%;
            height: 3px;
            border-radius: 20px;
            position: absolute;
            left: 0;
            bottom: -5px;
            background-color: var(--pink);
            transform: scaleX(0);
            transition: transform .3s ease;
            transform-origin: right;
            
        }
        &:hover::after{
            transform: scaleX(1);
            transform-origin: left;
        }
    }


    .logo{
        max-width: max-content;
    }

   .premium{
       padding: 15px 18px;
       background-color: var(--indigo);
       border-radius: 30px;
       max-width: max-content;
       line-height: 20px;
       font-size: 16px;
       font-weight: 500;
       text-align: center;


       a{
           color: #fff;
           text-decoration: none;
           font-size: 20px;
       }
   }
   .icon{
       margin-right: 5px;
       width: max-content;
       color: white;
       font-size: 18px;
   }
    
}






// TODO: About section styling start--------------------------------------------------------


section{
    overflow: hidden;
}
.about{
    background-color: #fafafa;
    padding: 245px 0 130px 0;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        background-image: url(./images/b-shape1.png);
        width: 85%;
        top: 0;
        right: 0;
        height: 115%;
        background-repeat: no-repeat;
    }


}

.about__section-wrapper{
    position: relative;

    .row{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        justify-content: center;
        
    }

    .title{
        font-size: 55px;
        font-weight: 800;
        background: linear-gradient( -45deg, #6b2c94 32%, #fc01fd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

        span{
            font-weight: 400;
        }
    }


.about__section-left{
    z-index: 2;
    transition: all .5s;
}
.about__section-title{
    margin-bottom: 1rem;
}
.about__section-description{
    margin-bottom: 1rem;
}
.about__section-button{
    z-index: 4;

    a{
        position: relative;
        height: 50px;
        width: 175px;
        text-align: center;
        line-height: 45px;
        border-radius: 50px;
        margin-right: 20px;
        font-weight: 700;
        color: #010101;
        font-family: "Poppins";
        display: inline-block;
        z-index: 1;
        border: 2px solid #6c2b95;
        text-decoration: none;
        cursor: pointer;
        transition: .5s;
        overflow: hidden;


        
        .button__icon{
            font-size: 20px;
            margin-right: 10px;
            background: linear-gradient( -45deg, #6b2c94 32%, #fc01fd 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: indigo;
            z-index: -1;
            border-radius: 50px;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform .4s ease;

        }

        &:hover{
            color: white;
        }
        &:hover::before{
            transform-origin: top;
            transform: scaleY(1);
        }
    }
    a:hover .button__icon{
        -webkit-text-fill-color: var(--white);
    }

}

.shape2{
    position: absolute;
    top: 5%;
    right: 0;
    animation: floatY 10s ease-in-out infinite;


    img{
        max-width: 100%;
        height: auto;
    }
}

@keyframes floatY {
    0% {
        transform: translateX(0px);
    }
    
    50% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0px);
    }
}





.shape3{
    position: absolute;
    top: 0;
    right: 0;
    animation: floatX 4s ease-in-out infinite;


    img{
        max-width: 100%;
        height: auto;
    }
}
@keyframes floatX {
    0% {
        transform: translateY(0%);
    }
    
    50% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}



.shape4{
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 1;

    img{
        max-width: 100%;
        height: auto;
        transition: all 1.5s ease;
    }
}

.about__section-right{
    // flex: 0 0 60%;
    z-index: 2;
    transition: all .5s;

    img{
        transition: all 0.01s;
    }
}




// TODO: Service section styling start-----------------------------------------------------------


.service{
   padding: 90px 0 110px;
   position: relative;

   &:hover::after{
    letter-spacing: 1rem;
    color: rgba(88, 86, 86, 0.9);
   }

  
   &::after{
    content:'SERVICES';
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    font-weight: bold;
    // letter-spacing: 10px;
    // color: rgba(88, 86, 86, 0.2);
    transition: all .3s ease-in;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(88, 86, 86, 0.4);


}

   .service__section_heading{
       font-size: 25px;
       font-weight: 700;
       text-align: center;
       padding-bottom: 3rem;
       font-size: 55px;
       font-weight: 800;
       background: linear-gradient( -45deg, #6b2c94 32%, #fc01fd 100%);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
    }

   span{
       font-weight: 400;
   }
}


.service__section_wrapper{
    padding-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 1rem;
}
.service__section_box{
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 25px 30px 30px 35px;
    z-index:21;
    background-color: #fff;
    transition: 0.5s all ease-in-out;
    box-shadow: 0px 16px 80px -40px #080001;
    position: relative;


}

.service__section_box::before{
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -3;
    border-radius: 10px;
    position: absolute;
    transition: 0.5s all ease-in-out;
    background-image: linear-gradient(45deg, #fc01fd 32%,#6b2c94 100%);
    transform: translate(0px, 0px);

    
}
.service__section_box:hover{
    transform: translate(-10px, -10px);
}
.service__section_box:hover::before{
    transform: translate(10px, 10px);
}
.service__section_box::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    border-radius: 10px;
    background-color: #fff;
}





.service__section_icon{
    font-size: 2.5rem;
    background: linear-gradient( -45deg, #6b2c94 32%, #fc01fd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: .7rem;
}

.service__section_title{
    font-size: 23px;
    margin-bottom: .7rem;
}
.service__section_description{
    font-size: 16px;
    line-height: 1.2;
    color: var(--dark);
    margin-bottom: .7rem;
    text-align: justify;
}

.service__section_download {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    transition: all .3s;
}
.service__section_download:hover .service__section_link-icon{
    margin-left: 0;
    visibility: visible;
}
.service__section_link {
    text-decoration: none;
    color: #0066ff;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
.service__section_link::before{
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color:#0066ff;
    transform: scaleX(0);
    transition: transform .3s ease;
    transform-origin: right;
}
.service__section_download:hover .service__section_link::before{
    transform: scaleX(1);
    transform-origin: left;
}

.service__section_link-icon{
    font-size: 25px;
    margin-left: 10px;
    transition: .3s;
    visibility: hidden;
    transition-delay: 300ms;
    background: linear-gradient( -45deg, #6b2c94 32%, #fc01fd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service__section_content{
    position: relative;
    z-index: 5;
}
.service__section_icon:nth-child(2){
    opacity: .2;
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 60px;
}






// TODO: TWO ABOUT SECTION STYLING START ---------------------------------------------------------
.two__about__section{
    padding: 70px 0px;
    background-color: #ebedf2;
    position: relative;

    &::before{
        content: '';
        background-image: url(./images/abshape.png);
        position: absolute;
        top: 0;
        right: -430px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 800px;
        height: 100%;
    }

    &::after{
        content: "";
        height: 600px;
        width: 600px;
        right: -380px;
        top: 285px;
        border-radius: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-image: url(./images/abshape2.png);
    }

    &__wrapper{
        width: 100%;
        // display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
        justify-content: space-between;
        // flex-wrap: wrap;
        margin-bottom: 5rem;
        padding: 0 4rem;

        &:nth-child(2){
            margin-bottom: 0;
        }
    }

    // &__left__content{
    //     padding: 0 2rem;
    //     flex-basis: 50%;
    // }

    &__right__content{
        // padding-left: 0;
        // flex-basis: 50%;


        &:nth-child(2){
            padding-left: 3rem;
            // flex-basis: 56%;
        }
        // &:nth-child(1){
        //     padding-left: 3rem;
        //     // flex-basis: 56%;
        // }
    }
    &__icon{
        font-size: 3rem;
    }
    &__title{
        font-size:2.3rem;
        font-weight: 700;
        margin-bottom: 1rem;
        line-height: 1.1;
    }
    &__description{
        font-size: 16px;
        color: var(--dark);
        margin-bottom: 1rem;
    }

    &__link{
        text-decoration: none;
        color: #0066ff;
        position: relative;
        font-size: 16px;
        font-weight: 500;
        position: relative;


        &::before{
            content: '';
            width: 100%;
            height: 3px;
            border-radius: 20px;
            position: absolute;
            left: 0;
            bottom: -5px;
            background-color:#0066ff;
            transform: scaleX(0);
            transition: transform .3s ease;
            transform-origin: right;
        }

        &:hover::before{
            transform: scaleX(1);
            transform-origin: left;
        };
        &:hover ~.two__about__section__arrow{
            left: 200px;
            visibility: visible;
        }
    }

    &__link__btn{
        position: relative;
    }

    .two__about__section__arrow{
        position: absolute;
        font-size: 22px;
        top: 4px;
        left: 215px;
        visibility: hidden;
        transition: .2s ease;
        transition-delay: 150ms;
        background: linear-gradient( -45deg, #6b2c94 32%, #fc01fd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    &__img{
        width: 90px;
        height: 90px;
        margin-bottom: 1rem;

    }
    
    &__left_img:nth-child(){
        padding-left: 0;
    }
    &__left_img:nth-child(2){
        padding-left: 3rem;
    }


}







// TODO: FEATURE SECTION STYLING START--------------------------------------------

.feature{
    padding: 105px 0 85px;

    &__wrapper{
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        justify-content: space-between;
    }

    &__left__content{
        // flex-basis: 50%;
        padding: 35px 0px 0px 35px;
    }

    &__title{
        font-size: 40px;
        font-weight: 800;
        line-height: 1.2;
        margin-bottom: 1.2rem;

        span{
            font-weight: 500;
        }
    }


    &__description{
        font-size: 16px;
        color: var(--dark);
        margin-bottom: 3rem;
    }

    &__link{
        position: relative;
        height: 50px;
        width: 200px;
        text-align: center;
        line-height: 45px;
        border-radius: 50px;
        font-weight: 500;
        font-size: 18px;
        color: #010101;
        font-family: "Poppins";
        display: inline-block;
        z-index: 2;
        border: 2px solid #6c2b95;
        text-decoration: none;
        cursor: pointer;
        transition: .5s;
        overflow: hidden;


        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:var(--indigo);
            z-index: -1;
            border-radius: 50px;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform .4s ease;

        }

        &::after{
            content: '';
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--pink);
            position: absolute;
            top: 0px;
            right: 5px;
            z-index: -1;
            filter: blur(15px);
            visibility: hidden;
        }



        &:hover::before{
            transform-origin: top;
            transform: scaleY(1);
        }

        &:hover::after{
            visibility: visible;
        }


        &:hover{
            color: var(--white);
        }
    }

    &__link:hover &__icon{
        -webkit-text-fill-color: var(--white)
    }



    &__icon{
        font-size: 16px;
        margin-right: 6px;
        background: linear-gradient( -45deg, #6b2c94 32%, #fc01fd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all .5 ease;
    }

    &__right__content{
        padding-left: 3rem;
        // flex-basis: 50%;
    }

    &__right__wrapper{
        display: flex;
        flex-direction: column;
    }
    &__right__item{
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        padding: 1.5rem 1rem;
        border-radius: 10px;
        transition: all .5s ease;
        overflow: hidden;
        
        &:hover{
            color: var(--white);
        }

        &::after{
            content: '';
            width: 0px;
            height: 100%;
            border-radius: 10px 0 0 10px;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to right, #8E54E9, #4776E6);
            z-index: -1;
            transition: all .6s ease;
        }

        // &:nth-child(1){
        //     background-color: rgba(76, 0, 130, 0.137);

        //     &::after{
        //         background-color: rgb(119, 14, 194);
        //     }
        // }
        // &:nth-child(2){
        //     background-color: #00c9a736;

        //     &::after{
        //         background-color: #00C9A7;
        //     }
        // }
        // &:nth-child(3){
        //     background-color: #ff6f9142;

        //     &::after{
        //         background-color:#FF6F91
        //     }
        // }



        &:hover::after{
            width: 100%;
            height: 100%;
        }

        &:hover{
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
          transform: translateX(20px);

        }
    }

    &__right__item:hover &__right__description{
        color: white;
    }



    &__right__item__left{
        margin-right: 20px;
    }
    &__right__circle{
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        // background-color:var(--indigo);
        display: grid;
        place-items: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.060);
        
        img{
            z-index: 1;
            width: 50%;
            height: 50%;
            color: var(--indigo);
        }

        
    }





    &__right__title{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    &__right__description{
        font-size: 16px;
        color: var(--dark);
        transition: color 300ms ease;
    }

}





// TODO: INTEGRATION SECTION STYLING --------------------

.integration__section{
    background-color: #f0f2f7;
    padding: 120px 0px 55px;
    position: relative;

    &:hover::after{
        letter-spacing: 1rem;
        color: rgba(88, 86, 86, 0.9);
    
       }
    
      
       &::after{
        content:'SPONSOR';
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3em;
        font-weight: bold;
        // letter-spacing: 10px;
        color: rgba(88, 86, 86, 0.7);
        transition: all .3s ease-in;
        -webkit-text-fill-color: transparent; 
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgba(88, 86, 86, 0.4);
    
    }
    


    &__wrapper{
        // width: 100%;
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        grid-gap: 8rem;
    }
    // &__left{
    //     flex-basis: 60%;
    // }
    // &__right{
    //     flex-basis: 40%;
    // }
    &__right__title{
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 1.3rem;
        line-height: 1.2;

        span{
            font-weight: 500;
        }
    }

    &__right__description{
        color: var(--dark);
        margin-bottom: 1.3rem;
    }


    &__right__btn{
        position: relative;
    }

    &__right__link{
        text-decoration: none;
        color: #0066ff;
        position: relative;
        font-size: 16px;
        font-weight: 500;
        position: relative;


        &::before{
            content: '';
            width: 100%;
            height: 3px;
            border-radius: 20px;
            position: absolute;
            left: 0;
            bottom: -5px;
            background-color:#0066ff;
            transform: scaleX(0);
            transition: transform .3s ease;
            transform-origin: right;
        }

        &:hover::before{
            transform: scaleX(1);
            transform-origin: left;
        };
        &:hover ~ &__right__icon{
            left: 200px;
            visibility: visible;
        }
    }

    &__right__link:hover ~ &__right__icon{
        left: 120px;
        visibility: visible;
    }

    &__right__icon{
        position: absolute;
        font-size: 22px;
        top: 4px;
        left: 140px;
        visibility: hidden;
        transition: .2s ease;
        transition-delay: 150ms;
        background: linear-gradient( -45deg, #6b2c94 32%, #fc01fd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}





// TODO: TEAM SECTION STYLING START-----------------------------------

.team__section{
    padding: 118px 0px;
    position: relative;

    &:hover::after{
        letter-spacing: 1rem;
        color: rgba(88, 86, 86, 0.9);
    
       }
    
      
       &::after{
        content:'OUR TEAM';
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3em;
        font-weight: bold;
        // letter-spacing: 10px;
        color: rgba(88, 86, 86, 0.2);
        transition: all .3s ease-in;
        -webkit-text-fill-color: transparent; 
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(88, 86, 86, 0.4);
    
    }
    

    &__title__heading{
        text-align: center;
        font-size: 3rem;
    }

    &__title{
        margin-bottom: 7rem;
        background: linear-gradient( -45deg, #6b2c94 32%, #fc01fd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__wrapper{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        justify-content: center;
        align-items: center;
        grid-row-gap: 5rem;
        grid-template-areas: 
        "a a a b b b c c c d d d";
        grid-gap: 10px;

    }

    .item1{
        grid-area: a;
    }
    .item2{
       grid-area: b;
    }
    .item3{
       grid-area: c;
    }
    .item4{
       grid-area: d;
    }

    &__item{
        position: relative;
        box-shadow: 0px 15px 40px 0 rgba(0, 0, 0, 0.158);
        margin-right: 5px;
        border-radius: 10px;
    }

   


    &__item__img{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: absolute;
        top: -50px;
        left: 20px;
        border: 4px solid var(--white);
        transition: all .5s;


        img{
            width: 100%;
            height: 100%;
            border-radius: 100%;
            object-fit: cover;
        }
    }

    

    &__item__heading{
        padding: 4rem 0 1rem 1rem;
    }
    &__item__title{
        font-size: 25px;
        font-weight: 800;
    }
    &__item__description{
        font-size: 16px;
        font-weight: 400;
        background: var(--indigo);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__item__contact{
        padding: 1rem 1.5rem 1.5rem 1rem;

    }

    &__item__contact__wrapper{
        display: flex;
        align-items: center;
    }

    &__item__text{
        color: var(--dark);
        font-size: 14px;
    }

    &__item__contact__icon{
        color: var(--pink);
        margin-right: 8px;
    }

    &__item__share__btn{
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        background-color: var(--indigo);
        border-radius: 50px;
        overflow: hidden;
        transition: height .5s ease;
    }






    &__item__share__items{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: -200px;
        opacity: 0;
        transition: .5s;
        transition-delay: .1s;
    }
    &__item__share__icon{
        color: var(--white);
        font-size: 20px;
    }

    &__main__share__btn{
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        background-color: var(--indigo);
        border-radius: 50px;
        overflow: hidden;
        transition: all .5s ease;
        z-index: 2;
        display: grid;
        place-items: center;

        
    }

    &__main__share__icon{
        color: var(--white);
        font-weight: 800;
        font-size: 20px;
    }



    &__item:hover  &__item__share__btn{  
        height: 110%;
  }

    &__item:hover &__item__share__items{
        top: 30px;
       opacity: 1;
    }

    &__item:hover &__item__img{
        box-shadow: 0px 0px 0px 4px var(--indigo); 
    }

    &__item:hover &__main__share__btn{
        background-color: var(--pink);
    }


    &__item__share__item{
        margin-bottom: 5px;
    }
    &__item__share__icon{
        text-decoration: none;
        display: block;
        transition: all .3s;

        &:hover{
            transform: translateX(10px);
        }
    }
  
}



// TODO: FAQ SECTION STYLING START---------------------------


.accordion{
    padding: 2rem 1rem 1.25rem 1rem;
    position: relative;

    &:hover::after{
        letter-spacing: 1rem;
        color: rgba(88, 86, 86, 0.9);
    
       }
    
      
       &::after{
        content:'FAQ';
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3em;
        font-weight: bold;
        // letter-spacing: 10px;
        color: rgba(88, 86, 86, 0.2);
        transition: all .3s ease-in;
        -webkit-text-fill-color: transparent; 
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgba(88, 86, 86, 0.4);
    
    }
    


    &__heading__title{
        font-size: 40px;
        text-align: center;
    }

    &__heading{
        padding-bottom: 3rem;
    }

    &__wrapper{
        // display: flex;
        // justify-content: space-around;
        // // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    

    &__item{
        border-radius: .25rem;
        transition: all .5s ease;
        position: relative;
        overflow: hidden;
        margin: .5rem;

        &::before{
            content: '';
            width: 100%;
            height: 100%;
            background-color: var(--pink);
            opacity: 0.3;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        &::after{
            content: '';
            width: 5px;
            height: 100%;
            background-color: var(--pink);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .5s ease-in;
            transform-origin: left;
            transition: transform all .5s;
        }


        &:nth-child(2){
            &::before{
            background-color: var(--indigo);

            }
            &::after{
                background-color: var(--indigo);
            }
        }
        &:nth-child(3){
            &::before{
            background-color: var(--orange);

            }
            &::after{
                background-color: var(--orange);
            }
        }
        &:nth-child(4){
            &::before{
            background-color: var(--teal);

            }
            &::after{
                background-color: var(--teal);
            }
        }



        &:hover::after{
            width: 100%;
            transform-origin: right;
        }
        &:hover{
            color: var(--white);
        }
    }


    &__item:hover &__title {
        color: white;
    }
    &__item:hover &__description {
        color: white;
    }
    &__item:hover &__icon {
        color: white;
    }

    &__header{
        display: flex;
        line-height: 25px;
        padding: 1.25rem 1.25rem 1.25rem 1rem;
        cursor: pointer;
        // justify-content: space-between;
    }
    &__icon{
        font-size: 25px;
        transition: all .5s ease;
    }
    &__title{
        font-size: 20px;
        font-weight: 500;
        transition: all .3s;
    }

    &__content{
        height: 0;
        overflow: hidden;
        transition: height .5s ease;
    }
    &__description{
        padding: 0 1.25rem 1.25rem 3rem;
        font-size: 15px;
        color: var(--dark);
        transition: all .5s;
    }

}

.accordion__open{
    & .accordion__title{
        font-weight: 800;
    }

    & .accordion__icon{
        transform: rotate(180deg);
        font-weight: 700;
        color: var(--red);
        font-size: 30px;
    }

}


// TODO: PRICE SECTION STYLING START----------------------------------

.price{
    padding: 120px 0 100px;
    position: relative;

    &:hover::after{
        letter-spacing: 1rem;
        color: rgba(88, 86, 86, 0.9);
    
       }
  
       &::after{
        content:'PRICE';
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3em;
        font-weight: bold;
        // letter-spacing: 10px;
        color: rgba(88, 86, 86, 0.2);
        transition: all .3s ease-in;
        -webkit-text-fill-color: transparent; 
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgba(88, 86, 86, 0.4);
    
    }
    

    &__heading{
        font-size: 3rem;
        text-align: center;
        font-weight: 700;
    }
    &__headline{
        margin-bottom: 3rem;
    }

    &__box__heading{
        display: flex;
    }

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

     &__box__img{
         width: 100px;
         height: 100px;
         padding: .5rem .7rem;
         line-height: 70px;
     }
     &__box__title{
         font-size: 20px;
         padding: 0 1.5rem;
         color: var(--white);
     }
     &__box__price{
         font-size: 3rem;
         padding: 0 1.5rem;
         font-weight: 600;
         color: var(--white);
     }
     &__box{
         box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
         border-radius: 10px;
         margin: 10px;
         padding: 1.25rem 2rem 1.25rem 1.25rem;
         position: relative;
         overflow: hidden;
         transition: all .3s ease-in;


         &:hover{
         transform: translateY(-30px);
         box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);

         }

         &:hover::before{
            transform-origin: top;
            transform: scaleY(1);

         }

         &::before{
             content: '';
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             background-color: var(--indigo);
             z-index: -1;
             transition: all .5s;
             border-radius: 10px;
             transform-origin: top;
             transform: scaleY(.3) skew(-15deg);
             transition: transform .5s ease;
             
         }
     }

     &__box:nth-last-child(2){
        &:hover::before{
            transform-origin: top;
            transform: scaleY(1);
            background-color:var(--pink);

         }

        &::before{
            transform: scaleY(.3) skew(15deg);
            background-color: var(--pink);


        }
     }


     &__box:nth-last-child(1){
        &:hover::before{
            transform-origin: top;
            transform: scaleY(1);
            background-color:var(--primary)

         }

        &::before{
            transform: scaleY(.3) skew(-15deg);
            background-color: var(--primary);


        }
     }



     &__box__title{
         font-size: 25px;
     }
     &__box__content__items{
         list-style-type: none;
     }
     &__box__content__list{
         padding: 1rem 0;
         position: relative;
         border-bottom: 1px solid rgba(136, 136, 136, 0.171);
         padding-left: 3rem;
         font-size: 16px;
         transition: all .5s;

         &::before{
             content: '';
             position: absolute;
             top: 22px;
             left: 8px;
             background-image: url(./images/check.svg);
             background-position: center;
             background-size: cover;
             background-repeat: no-repeat;
             width: 20px;
             height: 20px;
             border-radius: 50%;
             box-shadow: 0 0 5px 0 rgba(8, 170, 16, 0.3),
                         0 0 10px 0 rgba(8, 170, 16, 0.199),
                         0 0 15px 0 rgba(8, 170, 16, 0.4);

         }

         &:nth-child(5){
             border-bottom: none;
  
         }
         &:nth-child(3)::before{
             border-bottom: none;
             background-image: url(./images/close.svg);
             box-shadow: 0 0 5px 0 rgba(192, 28, 28, 0.3),
                         0 0 10px 0 rgba(207, 24, 24, 0.203);
         }
         &:nth-child(4)::before{
             border-bottom: none;
             background-image: url(./images/close.svg);
             box-shadow: 0 0 5px 0 rgba(192, 28, 28, 0.3),
                         0 0 10px 0 rgba(207, 24, 24, 0.200);
         }
         &:nth-child(5)::before{
             border-bottom: none;
             background-image: url(./images/close.svg);
             box-shadow: 0 0 5px 0 rgba(192, 28, 28, 0.3),
                         0 0 10px 0 rgba(207, 24, 24, 0.203);
         }
     }
 
         
     .content2{
        .price__box__content__list:nth-child(4)::before{
            background-image: url(./images/check.svg);
            
        }
        .price__box__content__list:nth-child(5)::before{
            background-image: url(./images/check.svg);

        }
     }

     .content3{
        .price__box__content__list:nth-child(3)::before{
            background-image: url(./images/check.svg);       
      }
        .price__box__content__list:nth-child(4)::before{
            background-image: url(./images/check.svg);       
      }
        .price__box__content__list:nth-child(5)::before{
            background-image: url(./images/check.svg);       
      }

    }
       
    &__box:hover &__box__content__list{
        color: var(--white);
        border-bottom: 1px solid #888888;
    }

    &__box:hover &__box__content__list:nth-child(5){
        border-bottom: none;
    }


    &__box__btn{
        position: relative;
        height: 50px;
        width: 160px;
        text-align: center;
        line-height: 45px;
        border-radius: 50px;
        font-weight: 500;
        font-size: 18px;
        color: #010101;
        font-family: "Poppins";
        display: inline-block;
        z-index: 2;
        border: 2px solid #6c2b95;
        text-decoration: none;
        cursor: pointer;
        transition: .5s;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 1rem;


        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:var(--indigo);
            z-index: -1;
            border-radius: 50px;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform .4s ease;

        }




        &:hover::before{
            transform-origin: top;
            transform: scaleY(1);
        }



        &:hover{
            color: var(--white);
        }
    }

    &__box__icon{
        font-size: 20px;
        margin-right: px;
        background: linear-gradient( -45deg, #6b2c94 32%, #fc01fd 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all .5s;
    }

    &__box__link:hover &__icon{
        -webkit-text-fill-color: var(--white)
    }
    &__box__link{
        text-decoration: none;
        color: black;
        transition: all .5s;
    }
    &__box__btn:hover &__box__link{
        color: var(--white);
    }
    &__box__btn:hover &__box__icon{
        -webkit-text-fill-color: var(--white);

    }
}







// TODO: FOOTER SECTION STYLING --------------------------------------

.footer{
    z-index: 1;
    margin-top: 140px;
    padding: 0px 0px 65px;
    position: relative;

    &:hover::after{
        letter-spacing: 1rem;
        color: rgba(88, 86, 86, 0.9);
    
       }
    
      
       &::after{
        content:'CONTACT';
        position: absolute;
        top: -90px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 3em;
        font-weight: bold;
        // letter-spacing: 10px;
        color: rgba(8, 7, 7, 0.2);
        transition: all .3s ease-in;
        -webkit-text-fill-color: transparent; 
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgba(88, 86, 86, 0.4);
    }
    

    &::before{
        content: '';
        background-image: url(./images/fobg.png);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }


    &__newsletter{
        width: 100%;
        background-color: #6c2b95;
        color: var(--white);
        padding-bottom: 3rem;
        border-radius: 20px;
        position: relative;
        // overflow: hidden;
        
    };
    &__newsletter__logo{
        position: absolute;
        top: -40px;
        left: 10%;
        z-index: 2;
        max-width: 100%;
        height: auto;
    }
 

    &__newsletter__heading{
        position: relative;
        padding:3rem 0 2rem 0;
    }
    &__newsletter__title{
        font-size: 30px;
        font-weight: 800;
        text-align: center;
        margin-bottom: .5rem;
        letter-spacing: 1px
    };
    
    &__newsletter__subtitle{
        text-align: center;
        font-size: 16px;
    };

    &__newsletter__inputBox{
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto;
        background-color: var(--white);
        border-radius: 30px;
        overflow: hidden;

       
        transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 2);

        &:hover{
            width: 60%;
        }
        
    }



    &__newsletter__item{
        padding: 1rem 1.5rem;
        border-radius: 30px;
        outline: none;
        border: none;
        background:none;
        
    }
    &__newsletter__subscribe{
        padding: .5rem 1rem;
        border-radius: 30px;
        background-color: deeppink;
        border: none;
        outline: none;
        color: var(--white);
        font-size: 22px;
        cursor: pointer;
        font-weight: 700;
    }


    &__wrapper{
        padding-top: 3rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__title{
        margin-top: 2rem;
        color: var(--white);
        font-size: 15px;

    }
    &__link__heading__title{
        position: relative;
    }
    &__subtitle{
        color: var(--white);
    }
    &__office__hour{
        margin-top: 2rem;
    }
    &__office__open{
        color: var(--pink);
        font-weight: 800;
        margin-bottom: .3rem;
    }
    &__links__left__wrapper{
        display: flex;
    }
    &__links__title{
        color: var(--white);
        font-size: 25px;
        margin-bottom: 2rem
    }
    &__links__left__items{
        list-style-type: none;
        padding-right: 2rem;
    }
    &__links__left__items:nth-child(2){
        padding-right: 0;
    }
    &__links__left__link{
        color: var(--white);
        position: relative;
        margin-bottom: 1rem;
        transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 2);
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        padding: 0 2rem;

        &:hover{
            transform: translateX(10px);
            color: var(--pink);
        }

        &::before{
            content: '';
            position: absolute;
            top: 6px;
            left: 8px;
            width: 15px;
            height: 15px;
            background-image: url(./images/right.svg);
            background-size: cover;
            background-position: center;
            color: red;

        }
    }

    &__news__title{
        position: relative;
    }
    &__news__headline{
        color: white;
        font-size: 25px;
        margin-bottom: 2rem;
        letter-spacing: 1px;
    }
    
    &__news__subtitle{
        font-size: 15px;
        color: var(--white);
        margin-bottom: 1rem;
    }

    &__news__input__box{
        width: 400px;
        background-color: pink;
        display: flex;
        justify-content: space-between;
        // border-radius: 75px;
        // overflow: hidden;

    }
    &__news__input__item{
       background: none;
       border: none;
       outline: none;
       padding: 0 1rem;
       
    }
    &__news__input__item[type="text"]{
        color: black;
        font-weight: 600;
    }

    &__news__icon{
        cursor: pointer;
        padding: .8rem 1.5rem;
        background-color: var(--pink);
    }

    &__news__textaria{
        margin-top: 2rem;
    }
    &__news__message{
        width: 400px;
        resize: none;
        border: none;
        outline: none;
        height: 50px;
        padding: .8rem 1rem;
        max-height: 130px;
        transition: all .4s;
        border-radius: 5px;
        
    }
    &__news__message::-webkit-scrollbar{
        width: 0px;
    }
    
}


.copyright{
    text-align: center;
    background-color: black;
    width: 100%;
    padding: 15px 0px;
    color: var(--white);

    a{
        text-decoration: none;
        font-weight: 800;
        color: var(--pink);
    }
}








// TODO: MOBILE RESPONSIVENESS DESIGN--------------------------------------------
@media screen and (max-width:768px) {
    .container{
        width: 90%;
    }

    .scrolltop__btn{
        width: 40px;
        height: 40px;
        box-shadow: 0 0 5px rgba(188, 10, 194, 0.466),
                    0 0 10px rgba(148, 8, 101, 0.603),
                    0 0 15px rgba(137, 12, 153, 0.377);

    
        .scrolltop__icon{
            font-size: 20px;
        }
    }
    

    .progressbar{
        left: 10px;
        width: 10px;
        height: 150px;
        border-radius: 20px;
        border: 2px solid orange;
        z-index: 10;
        
    
        .progressbar__line{
            position: absolute;
            width: 100%;
    
        }
    }

    


.main__header{
    padding: 1rem 0;
    position: relative;
    .nav__bar__menu{
        display: block;
    }
    .nav__bar-items{
        position: fixed;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: pink;
        top: 0;
        right: -100%;
        row-gap: 1rem;
        justify-content: unset;
        transition: all .5s;

        &::before{
            content: '';
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: pink;
            position: absolute;
            top: 3%;
            left: -30px;
        }
    }

    .nav__bar-items.active__menu{
        top: 0;
        right: 0;
    }



    .nav__bar-item{
        padding-top: 2rem;
    }
    .nav__bar-item:nth-child(2){
        padding-top: 8rem;
    }

   .premium{
    padding: 10px 15px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
   }
    .nav__bar__close{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        top: 27px;
        left: -25px;
        // left: 50%;
        // transform: translateX(-50%);
        cursor: pointer;
        display: block;
        box-shadow: 0 0 10px rgba(148, 8, 101, 0.200),
                    0 0 15px rgba(148, 8, 101, 0.300),
                    0 0 20px rgba(148, 8, 101, 0.400);
    }

    .nav__bar__menu{
        width: 50px;
        cursor: pointer;
    }
}


    .about__section-wrapper{
        grid-template-columns: repeat(12,1fr);
        grid-template-areas: 
        "a a a a a a a a a a a a";
        .row{
            grid-template-columns: repeat(auto-fit,minmax(1fr,1fr));

            margin-bottom: 3em;
        }
        .title{
            font-size: 40px;
            text-align: center;

        }
        .about__section-description{
            font-size: 15px;
            // width: 300px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 2em;
        }

        .about__section-button{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2em;
        }
        
    }
    .about__section-right{
        img{
            width:99% !important;
            max-width: 100% !important;
        }
    }
    .about::before{
        width: 100%;
        height: 100%;
    }
    
.shape2{
    top: 0;
}
.shape3{
    top: -10%;
}
    .service{

        .service__section_heading{
            h1{
                font-size: 40px;
               
            }
        }

        .service__section_wrapper{
            justify-content: center;
            align-items: center;
            padding: 0 10rem 2rem 10rem;
        }
    }


    .two__about__section{


        .two__about__section__wrapper{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(500px, 1fr));
            padding:0 3rem;
            justify-content: center;
            align-items: center;

        }

        .two__about__section__left__img{
            width: 70%;
            margin: 0 auto;
            margin-bottom: 2rem;

            img{
                width: 100%;
            }
        }

        .two__about__section__right__content{
            width: 90%;
        }

        .content2{
            width: 90%;
            padding-left: 3rem;
        }
    }



    .accordion{
        .accordion__heading__title{
            font-size: 25px;
        }
        .accordion__title{
            font-size: 18px;
        }
    }


    .price{

        .price__heading{
            font-size: 25px;
        }
    }



    .feature{

        .footer__newsletter__inputBox{
            
        }

        &__wrapper{
    
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(1fr,1fr));
            justify-content: center;
            align-items: center;
        }

        &__left__content{

            padding-bottom: 3rem;
        }
    
        &__right__content{
            padding-left: unset;
        }

    }
    


    .integration__section{
        &__wrapper{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            justify-content: center;
            grid-gap: 8rem;
        }

        .integration__section__left{
            width: 95%;
            margin-bottom: unset;

            img{
                width: 100%;
            }
        }

        .integration__section__right{
            margin-top: -5rem;
        }
    }




    .team__section{

        &:hover::after{
            font-size: 2rem;
            letter-spacing: 6px;
        }
        &::after{
            font-size: 2rem;
        }

        &__wrapper{
            grid-template-columns: repeat(12,1fr);
            justify-content: center;
            align-items: center;
            grid-template-areas: 
            ". . a a a a a a a a ."
            ". . b b b b b b b b ."
            ". . c c c c c c c c ."
            ". . d d d d d d d d .";
           grid-row-gap: 5em;
    
        }
    
        .item1{
            grid-area: a;
        }
        .item2{
           grid-area: b;
        }
        .item3{
           grid-area: c;
        }
        .item4{
           grid-area: d;
        }

        &__title__heading{
            text-align: center;
            font-size: 2.3rem;
        }
    }



    .price{
        &__wrapper{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(180px 1fr));
        }

        &__heading{
            font-size: 2.3rem;
        }
    }

    

    .footer{
        &__newsletter__inputBox{
            display: flex;
            justify-content: space-between;
            width: 60%;
            margin: 0 auto;
            background-color: var(--white);
            border-radius: 30px;
            overflow: hidden;

    
           
            transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 2);
    
            &:hover{
                width: 100%;
            }
            
        }

  
        &__newsletter__subscribe{
            font-size: 18px;
        }

        .footer__newsletter{
            width: 90%;
            margin: 0 auto;
            padding: 0 1rem;
            padding-bottom: 2rem;
        }

        .footer__news{
            display: block;
            width: 100%;
        }
        .footer__news__input__box{
            width: 70%;
        }
        .footer__news__textaria{
            width: 70%;
        }

        .footer__links__left{
            display: block;
            margin-bottom: 3rem;
        }

        .footer__newsletter__logo{
            display: none;
        }
        
    }
}





@media screen and (min-width:770px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }
}









